<%- include("partials/header.ejs") %>

<!-- FIXME: Align footer to bottom when there aren't enough blogs posted. -->

<section class="blog-wrapper">
  <div id="blogs-grid">
    <% Object.keys(blogs).forEach(blog => { %>
      <!-- Grid Element Start -->
      <a
        href=<%= "/blogs/" + blogs[blog].slug %>
        class="blog-post" 
      > 
        <div class="blog-image-wrapper">
          <% if (blogs[blog].imagePath) { %>
            <img src=<%= blogs[blog].imagePath %> alt="blog image" />
          <% } else {%>
            <img src="/images/default-bg.jpg" alt="PLACEHOLDER IMAGE" />
          <% } %>
          <div class="blog-overlay">
            <h2 class="blog-title"><%= blogs[blog].title %></h2>
            <div class="blog-info">
              <div>
                <img src="/images/views.png" alt="views icon" />
                <p><%= blogs[blog].views %></p>
              </div>
              <div>
                <img src="/images/date.png" alt="views icon" />
                <p><%= blogs[blog].createdAt %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- Grid Element End -->
    <% }); %>
  </div>
</section>

<%- include("partials/footer.ejs") %>
