<%- include("partials/header.ejs") %>

<!-- FIXME: Scaling of blogs inside the grid aren't consistent. -->

<section class="blog-wrapper">
  <div class="read-blog-container">
    <div class="read-blog-header">
      <% if (locals.image) { %>
        <img src=<%= image %> alt="blog image" />
        <% } else {%>
          <img src="/images/default-bg.jpg" alt="PLACEHOLDER IMAGE" />
        <% } %>
      <div class="read-blog-header-content">
        <h2 class="read-blog-title"><%= title %></h2>
        <div class="blog-info">
          <div>
            <img src="/images/views.png" alt="views icon" />
            <p><%= views %></p>
          </div>
          <div>
            <img src="/images/date.png" alt="calendar icon" />
            <p><%= date %></p>
          </div>
          <div>
            <img src="/images/author.png" alt="pencil icon" />
            <p><%= userName %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="read-blog-content">
      <%= text %>
    </div>
  </div>
</section>

<%- include("partials/footer.ejs") %>
